
body {
	margin-top: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 100%;
	background-image:
		url(#{request.contextPath}/resources/images/bg_img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#login {
	text-align: center;
	width: 100%;
	padding: 20px 0 40px 0;
	margin-bottom: 20px;
}

#loginForm {
	position: relative;
}

#main {
	margin-top: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 100%;
	background-image:
		url(#{request.contextPath}/resources/images/TrainerPlanPageImage.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

div.login {
	height: 100vh;
	width: 100vw;
	position: relative;
	background: linear-gradient(0deg, rgba(16,68,170,1) 0%, rgba(57,124,255,1) 100%);
}

div.login h1 {
	font-size: 3em;
	font-weight: 600;
	padding-bottom: 10px;
}

div.login h1 span {
	color: #397cff;
	font-weight: 900;
}

table table {
	width: 100%;
	margin-top: 10px;
}

table td input {
	width: calc(100% - 8px);
	background-color: #eee;
	padding: 12px 0 12px 12px;
	border-radius: 6px;
	border: none;
	font-size: 18px;
}

table tr:nth-of-type(1) td, table tr:nth-of-type(2) td {
	padding-bottom: 15px;
	text-align: left;
	font-size: 22px;
	font-weight: 300;
}

table th {
	text-align: left;
	padding-bottom: 10px;
	padding-right: 20px;
}

form input.submit {
	width: auto;
	padding: 0 40px;
	height: 45px;
	border-radius: 6px;
	transition: 0.15s ease;
	color: black;
	text-decoration: none;
	font-size: 17px;
	background-color: #397CFF;
	color: white;
	border: none;
	margin-top: 15px;
	float: left;
	transition: 0.15s ease;
}

form input.submit:hover {
	background-color: #1b58cf;
	cursor: pointer;
}

form input[type='radio'] {
	background: red;
}

div.notamember {
	padding-top: 50px;
	border-top: 1px solid #eee;
}

div.notamember > h3 {
	font-size: 26px;
	padding-bottom: 10px;
}

a.return {
	color: #397cff;
	margin-top: 15px;
	text-decoration: none;
}

a.return:hover {
	color: #3a31f7;
}

div.account-options a.gohome{
	background-color: white;
  	color: #111;
  	box-shadow: 0px 4px 0px #ddd;
}

div.account-options a.gohome:hover {
	color: #397CFF !important;
}

div.login > div:first-of-type {
	width: 45%;
	background-color: white;
	height: 100%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

div.login > div:first-of-type > div{
	width: 60%;
	text-align: left;
	margin: 0;
	padding-right: 75px;
}

div.login > div:last-of-type {
	width: 55%;
	background-color: #397CFF;
	height: 100%;
	float: left;
	overflow-x: hidden;
}

div.login > div:last-of-type img {
	height: 100%;
	opacity: 0.8;
	filter: grayscale(1);
	mix-blend-mode: soft-light;
}

#arc {
	display: none;
}

.nav {
	background-color: #00000000 !important;
	position: absolute !important;
}

#waves {
	height: 100%;
	position: absolute;
	left: calc(45% - 10px);
	z-index: 10;
}

ul.errorMessage {
	list-style-type: none;
}

ul.errorMessage li {
	background-color: crimson;
	padding: 10px;
	color: white;
	border-radius: 7px;
	margin-bottom: 10px;
}