html, body {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-style: normal;
  min-height: 100%;
  margin: 0;
  background-color: white !important;
  font-size: 15px;
}

.panelGrid {
  height: 550px;
}

h1 {
	text-align: center;
  padding-bottom: 20px;
  padding-top:50;
  font-size: 5em;
  color: black;
}

h2 {
	 text-align: center;
  font-size: 2em;
  color: black;
}

h3 {
	font-family:'Oswald', Arial, Helvetic;
	font-size:15px;
	display: inline-block;
	text-align: center;
}

.panelGridCenter td,.panelGridCenter tr {
  text-align: center;
  text:inline-block;
  font-size:10px;
  background-color:none;
  padding:10px;
  height:20%;
}

.centreElement{
	margin-left: 45%;
	margin-right: 55%;
}

.panelGrid-full-width {
  width: 100%;
  display: inline-block;
  height: inherit;
}

.section-two-columns {
  background:yellow;
  width: 50%;
  float: left;
  height: inherit;
  background: red;
}

#section-three-columns {
  width: 33.33%;
  float: left;
  height: inherit;
}

#section-four-columns {
  width: 25%;
  float: left;
  height: inherit;
}

.center {
  text-align: center;
}

/* NEWLY ADD STYLES */

table {
  padding: 50px 15%;
}

div.main > form > table:nth-of-type(odd) {
  background-color: white;
}

table:nth-of-type(even) {
	background-color: #397cff;
}

p {
  text-align: justify;
  font-size: 17px;
  padding: 0 15px;
}

table table label {
	font-weight: 700;
}

table:nth-of-type(even) table label,
table:nth-of-type(even) table p {
	color: white;
}

input.centreElement {
	border: none;
  box-shadow: 0px 6px 0px #1b58cf;
  background-color: #397CFF;
  padding: 12px 30px;
  color: white;
  font-size: 20px;
  border-radius: 6px;
  transition: 0.15s ease;
}

input.centreElement:hover {
  background-color: #2765df;
  cursor: pointer;
}

table:nth-of-type(even) input.centreElement {
	box-shadow: 0px 6px 0px #ddd;
  background-color: #f7f7f7;
	color: #000000;
}

table:nth-of-type(even) input.centreElement:hover {
  background-color: #eee;
}

form > table:last-of-type {
	padding-bottom: 90px;
}

table table {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table table tr:last-of-type td {
  display: flex;
  justify-content: center;
  align-items: center;
}

table table tr:last-of-type td input {
  margin: 0;
}

table img {
  border-radius: 12px;
  box-shadow: 0px 8px 0px #00000022;
}

div.welcome-back {
  position: relative;
  padding: 50px 0;
  width: 100vw;
  background-color: #222;
  margin: 0;
  margin-top: 25px;
  border-bottom: 10px solid #397cff;
}

div.welcome-back span {
  margin-left: 15%;
  color: white;
  font-size: 28px;
  font-weight: 700;
}

div.welcome-back span:last-of-type {
  margin-left: 0;
  margin-right: 15%;
  float: right;
  font-weight: normal;
}

div.onceoff {
	height: 100vh;
	width: 100vw;
}

div.onceoff .banner {
	height: 450px;
	width: 100vw;
	background: #397cff;
	overflow-y: hidden;
	clip-path: polygon(0 0, 100% 0, 100% 400px, calc(50% + 40px) 400px, 50% 450px, calc(50% - 40px) 400px, 0 400px)
}

div.onceoff .banner img{
	width: 100%;
	opacity: 0.8;
	filter: grayscale(1);
	mix-blend-mode: soft-light;
}

div.onceoff .banner-text {
	height: 400px;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0; left: 0;
}

div.onceoff .banner-text span {
	font-size: 4em;
	color: white;
	font-weight: 700;
}

div.onceoff .onceoff-body {
	height: auto;
	padding: 60px 0;
	width: 100vw;
	display: flex;
	position: absolute;
	flex-direction: column;
}

div.onceoff .onceoff-body p {
	font-size: 24px;
	font-weight: 300;
	text-align: center;
}

div.welcomeback {
	width: 100%;
	padding: 40px 0;
	background-color: white;
	height: 150px;
	display: flex;
	align-items: flex-end;
}

div.welcomeback > div:first-of-type {
	float: left;
	margin-left: 15%;
}

div.welcomeback > div:last-of-type {
	float: right;
	margin-right: 15%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

div.welcomeback h1{
	font-size: 3.5em;
	padding-bottom: 10px;
}

div.welcomeback h1 span{
	color: #397cff;
}

div.welcomeback h3{
	font-size: 1.5em;
	font-weight: 300;
}

div.welcomeback > div:last-of-type h3{
	padding-top: 5px;
	font-size: 2em;
	font-weight: 900;
	margin: 0;
	text-align: right;
}

div.welcomeback > div:last-of-type h3 span{
	font-weight: 300;
}

