.main {
	background-color: white;
}

.heading {
	width: 100vw;
	height: 100vh;
	font-family: sans-serif;
	font-size: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	position: relative;
}

h2 {
	text-align: center;
	font-weight: 700;
	padding: 20px 0;
	font-size: 2em;
	background-color: #111;
	width: 100%;
	color: white;
	border-radius: 12px 12px 0 0;
	margin-bottom: 15px;
}

div.header {
	width: 70%;
	padding-bottom: 40px;
	height: 50px;
}

div.header h1 {
	font-size: 3em;
	color: #111;
	float: left;
	line-height: 50px;
}

div.header h2 {
	font-size: 2em;
	color: #00000033;
	float: right;
	font-weight: 300;
	line-height: 50px;
	padding: 0;
	background-color: #00000000;
	width: auto;
	border-radius: 0;
	margin-bottom: 0;
}

div.header h1 span {
	color: #397cff;
	font-weight: 900;
}

.planpage {
	width: 70%;
}

.output {
	width: 100vw;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 20px;
	color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
}

.output .planpage {
	background-color: white;
	border-radius: 12px;
	padding: 0 0 20px 0;
}

.output .planpage table{
	list-style: none;
	background: #eee;
	border-radius: 20px;
}

.output .planpage table th{
	text-align: left;
	padding-right: 25px;
}

.output .planpage h1  {
	text-align: center;
	color: #397cff;
	padding: 25px 0;
	font-size: 2em;
	background-color: #111;
	width: 100%;
	color: white;
	border-radius: 12px 12px 0 0;
	margin-bottom: 15px;
}

.output .planpage h4  {
	padding: 20px 0;
	color: #397cff;
}

.planpage h1, .planpage h3{
	text-align: center;
	color: white;
}

.img-cont {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 0;
	background-color: #397cff;
	mix-blend-mode: soft-light;
}

.img-cont img {
	width: 100%;
}

.planpage form {
	background-color: white;
	border-radius: 12px;
	padding-bottom: 30px;
	margin-top: 25px;
}

.planpage form > div {
	margin: 0 auto;
}

.planpage form > div:first-of-type {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.planpage form > div:first-of-type div {
	padding-top: 10px;
}

.planpage form > div:first-of-type input {
	border: none;
	background-color: #eee;
	padding: 8px;
	border-radius: 6px;
	margin: 0 20px 0 10px;
}

.planpage form > div:last-of-type input{
	border: none;
	background-color: #397cff;
	padding: 10px 24px;
	font-size: 22px;
	border-radius: 6px;
	color: white;
}

.planpage form > div:last-of-type {
	display: flex;
	justify-content: center;
}

.planpage form > div:last-of-type input:hover {
	background-color: #2765df;
	cursor: pointer;
}

table {
	padding: 20px 50px;
	width: 100%;
}

table th {
	font-size: 22px;
	padding: 8px 0;
}

table td {
	padding: 5px;
	width: 20%;
}

select {
	padding: 10px 0;
	border-radius: 12px;
	border: none;
	background-color: #eee;
}

select option {
	font-size: 16px;
	padding: 5px 0px 5px 10px;
	border-radius: 6px;
}

a.return {
	color: #397cff;
	margin-top: 15px;
	padding: 15px 30px;
	text-decoration: none;
}

a.return:hover {
	color: #e7e7e7;
}

form#j_idt15 > div:first-of-type select {
	width: 200px;
	border-radius: 8px;
	padding: 10px;
}
