.main {
	background-color: #397cff;
}

.heading {
	width: 100vw;
	height: 100vh;
	font-family: sans-serif;
	font-size: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.output {
	width: 100vw;
	height: 100vh;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 20px;
	color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.output .planpage {
	background-color: white;
	border-radius: 12px;
	box-shadow: 0px 8px 0px #383c4466;
	padding: 40px 60px;
}

.output .planpage table{
	margin-top: 20px;
	list-style: none;
}

.output .planpage table th{
	text-align: left;
	padding-right: 25px;
}

.output .planpage h1  {
	text-align: center;
	color: #397cff;
}

.output .planpage h4  {
	text-align: center;
	color: #111;
}

.planpage h1, .planpage h3{
	text-align: center;
	color: white;
}

.img-cont {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 0;
	background-color: #397cff;
	mix-blend-mode: soft-light;
}

.img-cont img {
	width: 100%;
}

.planpage form {
	background-color: white;
	border-radius: 12px;
	padding: 20px 50px;
	margin-top: 25px;
	box-shadow: 0px 8px 0px #383c4466;
}

.planpage form > div {
	margin: 0 auto;
	padding: 20px 0;
}

.planpage form > div:first-of-type input {
	border: none;
	background-color: #eee;
	padding: 8px;
	border-radius: 6px;
	margin: 0 20px 0 10px;
}

.planpage form > div:last-of-type input{
	border: none;
	background-color: #397cff;
	padding: 10px 24px;
	font-size: 16px;
	border-radius: 6px;
	color: white;
}

.planpage form > div:last-of-type {
	display: flex;
	justify-content: center;
}

.planpage form > div:last-of-type input:hover {
	background-color: #2765df;
	cursor: pointer;
}
